
  <!-- Log in form code goes here -->
<div class="login-form">
  <form action="/auth/login"   method="POST">
      <h4>Log in</h4>
      <label for="auth-email"></label>
      <input class="input-form" id="auth-email" type="email" name="email" placeholder="Email">
      <input class="input-form" id="auth-password" type="password" name="password" placeholder="Password">
      <label for="auth-password"></label>
      <input class="input-form submit-form" type="submit" value="Log In">
  </form>
</div>
