<div class="login-form">
<form action="/auth/signup"  method="POST">
  <h4>Sign up</h4>
  <input class="input-form" id="new-email" type="email" name="email" placeholder="Email">
  <label for="new-email"></label>

  <input class="input-form" id="new-name" type="text" name="name" placeholder="Name">
  <label for="new-name"></label>

  <input class="input-form" id="new-password" type="password" name="password" placeholder="Password">
  <label for="new-password"></label>

  <input class="input-form submit-form" type="submit" value="Sign up">
</form>
</div>