<nav class="navbar fixed-bottom navbar-light bg-dark footer">
    <p>&copy;2020 Hot Shot</p>
    <p class="developed-by">Developed by LevinB.</p>
    <ul>
        <li><a href="#"><i class="fab fa-facebook-f text-white"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram text-white"></i></a></li>
        <li><a href="#"><i class="fab fa-github text-white"></i></a></li>
    </ul>
</nav>