<nav class="navbar navbar-primary">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-togglr collasped" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Logo
            <img src="" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><a href=""></a>Profile</li>
                <li><a href="">NBA Players</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""></a>Sign Up</li>
                <li><a href="">Log in</a></li>
            </ul>
        </div>
        </div>
    </div>
</nav>
