<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand logo" href="/">
        <img src=""  class="d-inline-block align-top" alt="">
        logo
    </a>
    <ul class="nav">
        <% if (currentUser) { %>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/auth/logout">Logout</a></li>
            <li class="nav-item"><a href="/profile">My Players</a></li>
            <li class="nav-item"><a href="/nba">NBA Players</a></li>
            <% } %>
    </ul>
</nav>

