<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand logo" href="/">
        <img src="/assets/logo.png"  class="d-inline-block align-top logo" alt="logo-photo">
    </a>
    <ul class="nav" class="nav navbar-nav navbar-right">
        <% if (currentUser) { %>
            <li class="nav-item"><a href="/auth/logout">Logout</a></li>
            <li class="nav-item"><a href="/profile">My Players</a></li>
            <li class="nav-item"><a href="/nba">NBA Players</a></li>
            <% } %>
    </ul>
</nav>

