<div class="favorite-player">
    <h1 >Favorite Players</h1> 
</div>

<div class="result-container players">
    <% players.forEach(p => { %>
        <div class="result-items">
            <h3><%= p.name %> </h3>
            <img src="<%= p.image  %> " alt="photo">
            <form method="POST" action="/profile/delete/<%= p.id %> ">
                <button type="submit">DELETE</button>
            </form>
        </div> 
    <% }) %>
</div>