
<h3>Favorite Players</h3>   



<% players.forEach(p => { %>
    <h3><%= p.name %> </h3>
    <img src="<%= p.image  %> " alt="photo">
    <form method="POST" action="/profile/delete/<%= p.id %> ">
        <button type="submit">DELETE</button>
    </form>
<% }) %>